:root {
  --blue: hsl(215, 90%, 60%);
  --skyblue: hsl(200, 90%, 60%);
  --purple: hsl(260, 70%, 60%);
  --pink: hsl(330, 65%, 50%);
  --red: hsl(355, 70%, 55%);
  --orange: hsl(25, 90%, 55%);
  --yellow: hsl(45, 100%, 50%);
  --green: hsl(150, 55%, 50%);
  --dark: #222;
  --light: #eee;
  --gray: #6c757d;
  --gray-dark: #343a40;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--dark);
  font-size: 16px;
}

/* Modal */
.ReactModalPortal>div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 520px;
  max-height: 530px;
  max-width: 500px;
  outline: none;
  padding: 20px;
}

.fab {
  border-radius: 100%;
  padding: 20px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 10;
}